/* colors: #403f4c, #2c2b3c, #1b2432, #121420, #b76d68, #f2e4e3 */

body {
    background-color: #121420;
    font-family: 'Press Start 2P', cursive;
    font-variant-ligatures: none;
    color: #f2e4e3;
    margin: 0;
    height: 100vh;
    line-height: 24px;
}

a {
    color: #f2e4e3;
    text-decoration: underline dashed 3px #827c82;
}

ul {
    --icon-space: 1.3em;
    list-style: none;
    padding: 0;
}

li {
    padding-left: var(--icon-space);
}

h3 {
    text-decoration: underline 3px;
}

.rainbow {
    text-align: center;
    background: linear-gradient(to right, #efa1ae, #ed6a6a, #eaa86a, #ebda6f, #81c46b, #51b5b7, #5573b3, #b47ccd, #efa1ae);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    animation: rainbow-animation ease-in-out 6s infinite;
    background-size: 400% 100%;
}

@keyframes rainbow-animation {

    0%,
    100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}

li:before {
    content: "*";
    font-family: 'Press Start 2P', cursive;
    display: inline-block;
    margin-left: calc(var(--icon-space) * -1);
    margin-right: 10px;
    width: var(--icon-space);
    /* color: #403f4c; */
    color: #827c82;
}

.white-theme {
    background-color: #f2e4e3;
    border-radius: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #121420;
    margin: 0;
    padding: 10px;
}

.white-theme-border {
    border: 3px dashed #f2e4e3;
    border-radius: 16px;
    background: transparent;
    margin: 10px;
    padding: 3px;
}

#grid-container {
    display: grid;
    grid-template-columns: [left] 150px [nav-end] 1fr [right];
    grid-template-rows: [top] 300px [intro-start] auto [body-start] 1fr [bottom];
    width: 100%;
    height: 100%;
    z-index: -1;
}

#wave-header {
    position: relative;
    top: 0;
    left: 0;
    z-index: -1;
    grid-area: top / nav-end / intro-start / right;
}

#header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.main {
    padding: 10px 30px;
}

#intro {
    grid-area: intro-start / nav-end / body-start / right;
}

#body {
    grid-area: body-start / nav-end / bottom / right;
    border-top: 3px solid #f2e4e3;
    background-image: url("./bg.png");
}

#planet {
    float: right;
}

#nav {
    display: flex;
    flex-direction: column;
    border-right: 3px solid #f2e4e3;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 150px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#nav a {
    text-decoration: none;
}

#gay-container {
    position: absolute;
    top: 0px;
}

#gay-container img {
    position: absolute;
    visibility: hidden;
    top: 0px;
    transform: translateY(-500px);
    transition: 2s ease-in-out;
    width: 200px;
    border-radius: 15px;
    box-shadow: 5px 5px #121420;
    z-index: 100;
}

.pointer {
    cursor: pointer;
}