#grid-container {
    grid-template-columns: [left] 150px [nav-end] 1fr [right];
    grid-template-rows: [top] 300px [intro-start] auto [body-start] 1fr [bottom];
}

#wave-header {
    grid-area: top / nav-end / intro-start / right;
}

#intro {
    grid-area: intro-start / nav-end / body-start / right;
}

#planet {
    float: right;
}

#gay-container {
    position: absolute;
    top: 0px;
}

#gay-container img {
    position: absolute;
    visibility: hidden;
    top: 0px;
    transform: translateY(-500px);
    transition: 2s ease-in-out;
    width: 200px;
    border-radius: 15px;
    box-shadow: 5px 5px #121420;
    z-index: 100;
}