#interests div {
    overflow: hidden;
    clear: both;
}

#interests div:nth-child(even) img {
    float: left;
    margin-right: 20px;
}

#interests div:nth-child(odd) img {
    float: right;
    margin-left: 20px;
}

#interests img {
    top: 0;
    aspect-ratio: 1;
    width: 150px;
    object-fit: cover;
}

.trans-rights {
    text-align: center;
    background: linear-gradient(to right, #5BCFFB, #F6AAB9, #FFFFFF, #F6AAB9, #5BCFFB);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    animation: trans-animation ease-in-out 6s infinite;
    background-size: 400% 100%;
}

@keyframes trans-animation {

    0%,
    100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}